.body{
	text-align: center;
	justify-content: center;
	color:#160527;

}
.navbar {
	/* padding: 2rem 5rem; */
	background: #fff;
}


.container {
		min-height:100%;
		position:relative;
}
.row {
margin-right: 0px!important;
margin-left: 0px!important;
}

.navbar-collapse{
	margin-right:15px; 
}
.nav-item{
	padding-right: 15px;
	font-size: 12px;
	font-family: 'Roboto';
	color: black;
	font-weight: 700;
	
}
.navbar a {
    color: black;

}
.footcontainer{
	position: absolute;
  	bottom: 0;
  	width: 100%;
	height: 75px;
	background-color: white;
}
.bgimg {
    background: url('../tlo.png');
  	background-size:cover;
    background-repeat: no-repeat;
	min-height: 848px;
	height: auto;
}
.colHeader{

  height:85vh;
  display:flex;
}

.o_mnie{
	min-height:760px;
	height:auto;
  	display:flex;
  	padding:0;
	background: url('../src/O_MNIE/tło_fhd.png');
  	background-size:cover;
    background-repeat: no-repeat;
}

/* .colAbout1{ */
	/* background: url('../src/O_MNIE/TŁO_1.png'); */
  	/* background-size:cover; */
    /* background-repeat: no-repeat;	 */	
/* } */
/* .colAbout2{ */
	/* background: url('../src/O_MNIE/TŁO_2.png'); */
  	/* background-size:cover; */
    /* background-repeat: no-repeat;	  	 */
  	/* display:flex;  	 */
/* } */
.skill{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 5px;
	background: url('../src/SKILLS/TŁO.png');
  	background-size:cover;
    background-repeat: no-repeat;
  	min-height:45vh;
	height:auto;
  	display:flex;
}
/*.services{
	background: url('../src/SERWIS/TŁO.png');
  	background-size:cover;
    background-repeat: no-repeat;
  	height:65vh;
  	display:flex;
}*/
.doswiadczenie {
	padding-top: 50px;
	margin-bottom: -50px;
	background: url('../src/doświadczenie/tło.png');
  	background-size:cover;
    background-repeat: no-repeat;
  	min-height:1315px;
  	height: auto;
  	justify-content: center;
}
.newsletter {
	padding-top: 20px;
	margin-bottom: -30px;
	background: url('../src/newsletter/tło.png');
  	background-size:cover;
    background-repeat: no-repeat;
  	min-height:35vh;
  	height: auto;
  	display:flex;
}
.klienci {
	background: white;
  	background-size:cover;
    background-repeat: no-repeat;
    min-height: 50vh;
  	height:auto;
  	display:none;
}
.footer {
	background-color: #160527;
	width: 100%;
	height: auto;
	position: relative;
}
.footer-button { 
	text-align: center;
	justify-content: center; 
}
.footer-button svg, .footer-button i {
	color: #eb0440;
}
.arrow {
	background-color: #ffffff;
	border-radius: 0;
	margin: -1.65rem 0 0 0;
	padding: .1rem .75rem;
}
.design {
	text-align: left;
	margin: 1rem 0;
	padding: 0 0 0 3rem;
}
.rights {
	text-align: right;
	margin: 1rem 0;
	padding: 0 3rem 0 0;
}
.under {
	background-color: #fff;
}
.white {
	color: #fff;
}
.white p {
	color: #918d95;
}
.section-padding {
     padding: 80px 0 80px 0!important;
}
.section-title {
    font-size: 50px;
    line-height: 1;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    color: #160527;
    text-align: center !important;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}
 .section-title::before {
     background: #ffffff none repeat scroll 0 0;
     bottom: 0;
     content: "";
     height: 10px;
     left: 50%;
     position: absolute;
     transform: translateX(-50%);
     width: 50px;
}
.servicebox{
	/* border: 1px solid #ededed; */

    margin-left: -1px;
    margin-top: -1px;
}
.service-content {

    padding-bottom: 10px;
}
.servicebox h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
}
.servicebox p {
    text-align: center;
    color: #fff;
    font-family: "Exo 2";
	font-size: 17px;
	line-height: 20px;
}
.no-spacing-row.row {
    margin-left: 0;
    margin-right: 0;
    padding-top: 100px;
    text-align: center !important;
}
.service-icon {
    display: block;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 1;
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    width: 53px;
    text-align: center;
    transition: 1s;
    padding-top: 10px;
}
.service-icon-mobile {
		display: none;
	}
.service-list{
	padding-top: 40px;
}
.section-title2 {
    font-size: 50px;
    line-height: 1;
    padding-bottom: 40px;
    padding-top: 40px;
    position: absolute;
    color: #160527;
    text-align: center !important;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}
 .section-title2::before {
     background: #eb0440 none repeat scroll 0 0;
     bottom: 0;
     content: "";
     height: 10px;
     left: 50%;
     margin-bottom: 20px;
     position: absolute;
     transform: translateX(-50%);
     width: 50px;
}

.service-col {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #160527;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 760px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #160527;
  z-index: 5;
}

/*.timeline li {
  padding: 1em 0;
}*/

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 350px;
  float: left;
  text-align: right;
  background-color: #f7f6f6;
}

.direction-l-ul {
  text-align: left;  
  padding-left: 80px;
}

.direction-r {
  position: relative;
  width: 350px;
  float: right;
  background-color: #f7f6f6;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  padding: 6px 10px;

}

.direction-l .flag {
}
.direction-r .flag {
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #eb0440;
  border: 4px solid white;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.7em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 6px 6px;
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.8em;
  font-family: "Exo 2";
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}
.timeline::before {
 	left: 0%;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;
	text-align: left;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	/* background: white; */
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
	position: absolute;
	top: -7px;
	left: 0%;
	content: ' ';
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background: #eb0440;
	/* border-radius: 10px; */
	/* border: 20px solid rgb(255,80,80); */
	z-index: 10;
	position: absolute;
  /* top: 50%; */
  /* right: -40px; */
  /* content: ' '; */
  /* display: block; */
  /* width: 20px; */
  /* height: 20px; */
  /* margin-top: -10px; */
  
  /* border: 4px solid white; */
  /* z-index: 10; */
}

.direction-l .flag:after,
.direction-r .flag:after {
	display:none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 6px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {

	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;

  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}
}

.about_photo {
	position: absolute;
    right: 0px;
    height: 545px;	
    border-color: #160527;
	border-top-width: 10px;
	border-top-style: solid;
	border-left-width: 10px;
	border-left-style: solid;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 100px;
	padding-left: 100px;
	padding-right: 30px;

}

.about_text {
	position: absolute;
    left: 0px;
    height: 545px;	
    border-color: #160527;
	border-top-width: 10px;
	border-top-style: solid;
	border-right-width: 10px;
	border-right-style: solid;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	padding-top: 50px;
	padding-bottom: 100px;
	margin-top: 100px;
	padding-right: 100px;
	padding-left: 30px;

}
.about_text a {
	color: #212529;

}
.title {
    font-size: 34px;
    line-height: 1;
    padding-bottom: 20px;
    padding-top: 40px;
    color: #160527;
    text-align: center !important;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}

.about_title {
	text-align: left!important;
	color:#160527;
}
.about_title::before {
     background: #eb0440 none repeat scroll 0 0;
     bottom: 0;
     content: "";
     height: 10px;
     left: 5%;
     position: absolute;
     transform: translateX(-50%);
     width: 50px;
}
.klient_title {
	font-size: 34px;
    line-height: 1;
    padding-bottom: 20px;
    padding-top: 30px;
    color: #160527;
    text-align: center !important;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
    position: relative;
}
.klient_title::before {
	background: #eb0440 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 10px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 50px;
}
.about_title::before {
     background: #eb0440 none repeat scroll 0 0;
     bottom: 0;
     content: "";
     height: 10px;
     left: 5%;
     position: absolute;
     transform: translateX(-50%);
     width: 50px;
}
.text{
	color:white;
	 font-family: "Exo 2";
	 font-size: 20px;
	 line-height: 20px;
}
input[type=text], input[type=submit] {
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}
input[type=text]{
	width:300px;
}
input[type=submit] {
    background-color: #160527;
    color: white;
    border: none;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 14px;
    margin-left: 20px
}
input[type=submit]:hover {
    opacity: 0.8;
}
.footer-title {
    font-size: 30px;
    line-height: 1;
    padding-bottom: 30px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;

}
 .footer-title::before {
     background: #eb0440 none repeat scroll 0 0;
     bottom: 0;
     content: "";
     height: 10px;
     left: 50%;
     position: absolute;
     transform: translateX(-50%);
     width: 50px;

}
.footer_header{
	font-family: "Exo 2";
	font-weight: 700;
	color:white;
	font-size: 16px;
	letter-spacing: 2px;
}
.footer_text{
	font-family: "Exo 2";
	font-weight: 400;
	color: 98959c;
	font-size: 16px;
	letter-spacing: 2px;
	margin-left: 30px;
}
.ftext{
	color:#160527;
	 font-family: "Exo 2";
	 font-weight: 700;
	 text-align: left;
	 font-size: 18px;

}
.direction-r .ft{
	color:#eb0440;
	margin-left: 10px;
	font-size: 16px;
	padding-top: 10px;
}
.direction-l .ft{
	color:#eb0440;
	margin-left: 80px;
	font-size: 16px;
	padding-top: 10px;
}

.hi {
	color: #fff;
	margin-top: 230px;	
}
.bgimg_hi {
	font-size: 81px; 
	font-weight:700; 
	text-transform: uppercase;
}
.bgimg_passion {
	font-size: 24px;
	font-weight: 600;
	font-style: italic;
	margin-left: 25px;
}


@media only screen and (max-width: 1370px) {
    .o_mnie {
		min-height:760px;
		height:auto;
		display:flex;
		padding:0;
		background: url('../src/O_MNIE/tło.png');
		background-size:auto;
		background-repeat: repeat-y;		
    }
		.bgimg {
		background: url('../tlo.png');
		background-size: 1368px 604px;
		background-repeat: no-repeat;
		min-height: 604px;
	}
		.hi {
		color: #fff;
		margin-top: 120px;		
	}
}

.exo_text{
	font-family: "Exo 2";
	font-size: 18px;
	line-height: 20px;
	color: #717171;
}

.contact_icon{
	margin-right: 10px;
}
.navbar-toggler-icon{
	background-image: url('../src/rwd/path2x.png')
}
.nav-rwd{
		background-color: #160527 !important;
	}
.nav-brand{
	width:240px;
	height:auto;
}
.nav-toggler{
	display: none;
}
/*========================= Mobile ==========================*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.exo_text{
	font-size: 10px;
	margin-bottom: 0px;
	line-height: 16px;
	width: 250px;
	height: 100px;
	text-align: center;

	padding-right: 20px;
}
.o_mnie{
	background-image: none;
	background-color: white;
}
.mobile_photo{
	display: block !important;
	margin-top: 0px;
	margin-left: 10px;
	z-index: 1;
}
.mobile_title{
	text-align: center !important;
	display:block !important;
}
.about_title{
	display: none;
}
.about_photo{
	height: 176px;
	width: auto;
	border-left: none;
	border-top:none;
	border-bottom: none;
	padding:0 0 0 0;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right:55px;
	z-index: 2;

}
.about_text{
	border-right: none;
	border-top: none;
	border-bottom: none;
	background-color: none;
	padding-left: 0px;
	padding-right: 0px;

	

}

.navbar-toggler{
	font-size: .8rem;
	margin-left: auto;
}
.nav-toggler{
	display:block;
}
.nav-brand{
	width: 121px;
	height: 30px;
}

.navbar a {
    color: white;

}
	.nav-item{
		font-size: 14px;
		text-align: center;
		padding: 10px;
		padding-right: 20px;
	}

	.bgimg {
		background: url('../src/rwd/home.png');
		background-size: cover;
		background-repeat: no-repeat; 
	}
	.klienci {
	background: white;
  	background-size:cover;
    background-repeat: no-repeat;
    min-height: 45vh;
  	height:auto;
  	display:flex;
	}
	.pt-xs-2 {
		padding-top: 2rem;
	}
	.pb-xs-2 {
		padding-bottom: 2rem;
	}
	.p-xs-2 {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.p-xs-3 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.bgimg_hi {
		color: #160527;
		font-size: 2rem;
		font-family: 'Roboto';
	}
	.bgimg_passion {
		color: #0ACDD2;
		font-size: 1.25rem;
		font-family: 'Roboto';
		margin-left: 0px;
	}
	.white .col-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.white .col-9 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.white .col-9 .col-4 {
		margin: 0.75rem 0 0.75rem 0;
		flex: 0 0 100%;
		max-width: 100%;
		justify-content: center;
		text-align: center;
	}
	.white p {
		color: #717171;
	}
	.contact_icon{
	height: auto;
	display: flex;
	margin: 1.5rem auto;
	}
	.footer-title {
    font-size: 1.75rem;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
	}
	.footer-title::before {
		height: 6px;
	}
	.footer_text {
	margin-left: 0px;
	letter-spacing: 0px;
	}
	.footer_header {
	margin: 0 0;
	letter-spacing: 0px;
	}
	.klient_title {
		padding-bottom: 10px;
		margin-bottom: 2rem;
	}
	.klient_title::before {
		height: 6px;
	}
	.under {
		display: none;
	}
	.design {
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
	}
	.rights {
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
	}
	.skill{
		background: #160527;
	}
	.section-title{
		font-size: 22px;
	}
	.section-title::before{
		background: #EB0440;
		height: 5px;
	}
	.section-title2{
		font-size: 22px;
	}
	.section-title2::before{
		background: #EB0440;
		height: 5px;
	}
	.servicebox h4{
		font-size:13px;
	}
	.servicebox p{
		font-size:13px;
		line-height: 23px;
	}
	.service-icon {
		display: none;
	}
	.service-icon-mobile {
		color: #EC0440;
		display: block;
		margin: 0 auto;			
		line-height: 1;
		backface-visibility: hidden;
		perspective: 1000px;
		-webkit-perspective: 1000px;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		width: 40px;
		text-align: center;
		transition: 1s;
		padding-top: 10px;
		width: 40px; 
		height: auto;
	}
	
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

}