.navbar {
	padding: 3rem 5rem;
}
.body{
	margin:0;
	padding:0;
	height:100%;
}
.container {
		min-height:100%;
		position:relative;
	}
.selection-title {
	font-size: 25px
}
.o_mnie {
	background: #dc3545
}
.skills {
	background: #dc2145
} 
.serwis {
	background: #d33545
}
.doswiadczenie {
	background: #dc3535
}
.portfolio {
	background: #dc3545
}
.klienci {
	background: #213545
}
.kontakt {
	background: #dc3c4d
}
.navbar-collapse{
	margin-right:15px; 
}
.nav-item{
	padding-right: 15px;
	font-size: 12px;
	font-family: 'Roboto';
	
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 258px; /* Set the fixed height of the footer here */
  background-color: #160527;
}
.footcontainer{
	 position: absolute;
  	bottom: 0;
  	width: 100%;
	height: 75px;
	background-color: white;
}
.bgimg {
    background: url('tlo.png');
    padding-top:100px;
  	background-size:cover;

   background-repeat: no-repeat;
}